<footer class="footer" role="contentinfo">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/opmf-logo-nobg.png" alt="Flower Power Dispensers Logo" height="100" />
      </div>
    
      <div class="footer-social">
        <div class="social-icons">
            <a target="_blank" href="https://www.instagram.com/onpointmobilefingerprints" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/people/On-Point-Mobile-Fingerprints/61575003513860" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@on.point.mobile.f" aria-label="Tiktok"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
    </div>

  
    <div class="footer-bottom">
      <p>&copy; 2025 On Point Mobile Fingerprints</p>
    </div>
  </footer>